.formulaire{
    justify-content: space-between;
    width: 60%;
    margin: 50px;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 60%;
}


.chat {
    width: 400px;
    height: 90%;
    position: fixed;
    overflow: scroll;

    display: block;
    margin: 5px;
    padding: 10px;
    border-radius: 7px;

}

#envoyer_message {
    height: 30px;
    display: block;
    width: 100%;
    outline: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}


#envoyer {
   
    display: block;
    width: 50%;
   
    outline: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

.bot {
    text-align: left;
    margin-right: auto;
    background: #001f3f;
    color: white;
}

.self {
    text-align: right;
    margin-left: auto;
    background: #DDD
}